/* app css stylesheet */
/* ---------------------------------- */
/* @Variables */
/* ---------------------------------- */
/* @Mixins */
/* ---------------------------------- */
/* @Sprites */
/* ---------------------------------- */
/* @Global */
body {
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, STHeiti, Microsoft YaHei, SimHei, Arial, sans-serif;
}
a {
  color: #6c7f74;
}
hr {
  clear: both;
  border: none;
  float: none;
  overflow: hidden;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
i {
  display: block;
  margin: 0;
  padding: 0;
}
/* ---------------------------------- */
/* loadingWidget */
#loadingWidget {
  margin: auto;
  position: relative;
  width: 128px;
  height: 128px;
}
#bowl_ringG {
  position: absolute;
  width: 128px;
  height: 128px;
  border: 2px solid #B3B3B3;
  -webkit-border-radius: 128px;
  -moz-border-radius: 128px;
  -ms-border-radius: 128px;
  border-radius: 128px;
}
#bowl_ringG .ball_holderG {
  position: absolute;
  width: 34px;
  height: 128px;
  left: 47px;
  top: 0px;
  -moz-animation-name: ball_moveG;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: ball_moveG;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -ms-animation-name: ball_moveG;
  -ms-animation-duration: 0.5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: ball_moveG;
  -o-animation-duration: 0.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: ball_moveG;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#bowl_ringG .ball_holderG .ballG {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  -webkit-border-radius: 43px;
  -moz-border-radius: 43px;
  -ms-border-radius: 43px;
  border-radius: 43px;
}
@-moz-keyframes ball_moveG {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes ball_moveG {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes ball_moveG {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes ball_moveG {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes ball_moveG {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ---------------------------------- */
/* @Responsive, mobile first */
@media only screen and (min-width: 320px) {
  
}
@media only screen and (min-width: 480px) {
  
}
@media only screen and (min-width: 600px) {
  
}
@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 992px) {
  
}
@media only screen and (min-width: 1382px) {
  
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  
}
/* ---------------------------------- */
/* @Content */
body {
  color: #44544b;
}
.navbar .brand {
  position: relative;
  color: #27ae60;
  overflow: hidden;
  padding-right: 30px;
}
.navbar .brand #logo {
  background-image: url("../img/sprite.png");
  width: 142px;
  height: 52px;
  background-position: 0 0;
}
.navbar .brand sup {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 0px;
  font-weight: 200;
}
.navbar .nav > li > a {
  color: #6c7f74;
}
.navbar .nav > li > a:hover {
  color: #27ae60;
}
.navbar-inner {
  background-color: transparent;
}
.hero-unit {
  background-color: transparent;
}
.hero-unit .lead {
  font-size: 22px;
}
.tile {
  font-size: 18px;
}
.tile h4 {
  display: inline-block;
  padding-top: 30px;
}
.tile ul {
  list-style-type: square;
  margin-top: 20px;
  padding: 0 35px;
}
.tile li {
  list-style-type: square;
  line-height: 30px;
}
.tile .tile-title {
  height: 100px;
  padding-left: 120px;
  vertical-align: middle;
}
.tile #icon-bulb {
  background: url("../img/icons/icon-bulb.png") left top no-repeat;
}
.tile #icon-yin-and-yang {
  background: url("../img/icons/icon-yin-and-yang.png") left top no-repeat;
}
.slogan-unit {
  text-align: center;
  padding-top: 40px;
}
.applied-unit .lead {
  color: #27ae60;
}
#wechat-slogan {
  background-image: url("../img/sprite.png");
  width: 620px;
  height: 198px;
  background-position: 0 -102px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 35px;
}
#error-tooltip {
  margin-left: 270px;
}
#wechat-picks {
  padding-top: 60px;
}
.footer {
  background-color: transparent;
  text-align: center;
}
.footer .footer-links {
  margin: 10px 0;
}
.footer .footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer .footer-links li:first-child {
  padding-left: 0;
}
