<div class="hero-unit applied-unit">
	<p class="lead"><i class="fui-heart"></i> 感谢注册微信io！</p>
	<p>我们将第一时间告知平台开放试用的信息。</p>
	<p>同时，我们精选了一些微信建设和运营的资料：</p>
	<div id="wechat-picks" class="row">
		<div class="span5">
			<div class="tile">
				<div id="icon-bulb" class="tile-title">
					<h4>{{ operation.category }}</h4>
				</div>
				<ul>
					<li ng-repeat="article in operation.articles">
						<a ng-href="{{ article.url }}" target="_blank">{{ article.title }}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="span5">
			<div class="tile">
				<div id="icon-yin-and-yang" class="tile-title">
					<h4>{{ product.category }}</h4>
				</div>
				<ul>
					<li ng-repeat="article in product.articles">
						<a ng-href="{{ article.url }}" target="_blank">{{ article.title }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
