<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 45
            },
            title: {
                text: '{{ title }}',
                x: -20 //center
            },
            subtitle: {
                text: '{{ subtitle }}',
                x: -20
            },
            xAxis: {
                title: {
                    text: '{{ xTitle }} '
                },
                categories: [ {{ key_list | safe }}]
            },
            yAxis: {
                title: {
                    text: '{{ yTitle }} '
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' 个'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [
            {
                name: ' {{ lineName }}',
                data: [ {{ value_list }} ]
            }, 
          ]
        });
    });
    

		</script>
	</head>
	<body>
<script src="./lib/Highcharts-3/js/highcharts.js"></script>
<script src="./lib/Highcharts-3/js/modules/exporting.js"></script>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

	</body>
</html>
