<!DOCTYPE html>
<html lang="en" ng-app="wioApp">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="description" content="微信io帮你快速创建功能丰富的微信公众号，利用数据分析工具持续优化运营。" />
	<meta name="keywords" content="微信io,微信营销,微信推广,微信数据分析,微信运营,微信公众平台托管,微信第三方平台,微信运营第三方平台,微信会员卡,微信优惠劵" />
	<link rel="shortcut icon" type="image/x-icon" href="{[ static('img/icons/wechat-io-16.png') ]}"/>
	<title>微信.io</title>

	<link rel="stylesheet" href="//libs.baidu.com/bootstrap/2.0.4/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{[ static('lib/flat-ui/css/flat-ui.min.css') ]}" />
	<link rel="stylesheet" href="{[ static('css/app.min.css') ]}" />
	<!-- Production
	<link rel="stylesheet" href="{[ static('lib/bootstrap/css/bootstrap.css') ]}" />
	<link rel="stylesheet" href="{[ static('lib/flat-ui/css/flat-ui.css') ]}" />
	<link rel="stylesheet" href="{[ static('css/app.css') ]}" />
	-->
</head>
<body ng-controller="MainCtrl">

{% block body %}{% endblock %}

<!-- Loading Widget -->
<div id="loadingWidget" style="display: none">
	<div id="bowl_ringG">
		<div class="ball_holderG">
			<div class="ballG"></div>
		</div>
	</div>
</div>


<script type="text/javascript" src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/json3/3.2.4/json3.min.js"></script>
<!--
<script type="text/javascript" src="{[ static('lib/jquery/jquery.js') ]}"></script>
<script type="text/javascript" src="{[ static('lib/json3/json3.js') ]}"></script>
-->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>

{% block scripts %}{% endblock%}
</body>
</html>